
/*文章缩进细节美化*/
p{
    text-indent: 2em;
 }
p *{
    text-indent: 0em;
}
ul{
    margin-left:1em
 }
ul *{
    margin-left: 0em;
}
a{
    word-break: break-all;
}
#after_click_out_div{
    color: rgba(0,0,0,0);
    background-image: repeating-linear-gradient(60deg,rgba(0,94,93,1),rgba(0,94,93,1) 5px,rgba(0,94,93,0.5) 0,rgba(0,94,93,0.5) 10px);
}
#after_click_out_div:hover{
    cursor:pointer;
}